# Selección de Variables a ROI

#### Iniciamos cargando el set de datos de la ROI y las librerías correspondientes

In [11]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest, chi2, mutual_info_classif


roi = pd.read_csv('test.roi.txt',sep='\t')

In [6]:
roi.head()

,band_1,band_2,band_3,band_4,band_5,band_6,band_7,band_8,band_9,band_10,...,band_141,band_142,band_143,band_144,band_145,band_146,band_147,band_148,band_149,band_150
0,6218,3633,2933,2281,1731,1313,1168,1209,1189,1173,...,12544,11296,11231,10229,11296,12610,11075,12152,10252,15574.0
1,3849,2266,1863,1566,1248,884,1018,846,716,686,...,11058,11173,10194,11480,10194,9604,10829,11488,9263,12581.0
2,3917,3413,2579,2008,1503,998,926,803,744,654,...,10357,10584,9716,10052,10934,11330,11669,12081,13281,7405.0
3,6371,5722,2476,2027,1562,1219,997,831,710,728,...,11928,10858,11112,10491,11585,12246,11619,11222,9557,11005.0
4,6679,4595,3794,1677,995,1123,872,702,849,727,...,10617,9774,11274,10031,10004,9790,9994,10055,11053,11251.0

In [7]:
roi.shape

(1068, 150)

In [67]:
roi.iloc[:,0:100].shape

(1068, 100)

In [52]:
kbest = SelectKBest(chi2, k=20)

In [73]:
new_roi = kbest.fit_transform(roi.iloc[:,0:149], np.ones(1068))
new_roi.shape

(1068, 20)

In [74]:
new_roi

array([[10438,  9945, 10638, ..., 11075, 12152, 10252],
       [10437, 10185, 10649, ..., 10829, 11488,  9263],
       [10193, 10233, 10522, ..., 11669, 12081, 13281],
       ...,
       [12803, 13090, 12469, ..., 13266, 11382, 10371],
       [12974, 13717, 13057, ..., 10884, 11918,  8027],
       [12764, 12651, 13019, ..., 11782, 11227,  7561]], dtype=int64)